transformers
datasets
evaluate

numpy
scikit-learn
lightning       # pytorch lightning
# --- logging ---
wandb
# --- other ---
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
black
flake8
isort

# --- personal/optional ---
# jupyter_contrib_nbextensions
